.maindivision{
    margin-top: 64px;
    background-color: rgba(255, 255, 255, 0.116);
    height: 80vh;
    width: 90vw;
    margin:120px auto auto auto;
    display: flex;
    
}

.divisionText{
    margin: auto;
    font-size: xx-large;
    color: #EEEEEE;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
.divisionImg{
    margin: auto;
}

.img{
    /* height: 50vh; */
    width: 50vw;
    margin: auto;
    animation: upAndDown 1s infinite alternate;
}

@keyframes upAndDown {
    0%{transform: translateY(0);}
    100%{transform: translateY(-10px);}
}


@media only screen and (max-width:481px){

.maindivision{
    flex-direction: column-reverse;
    
}
.img{
    width: 90vw;
    
}

.divisionImg{
    margin-bottom: 0;
}
.divisionText{
    margin-top: 0;
}
}